@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.divForm {
  justify-content: center;
  display:flex
}
.form{
  background-color: rgb(58, 86, 248);
  border-radius: 15px;
  width: 35rem;
  height: 30rem;
  justify-content: center;
  
}

.input{
  width: 28rem;
  justify-content: center;
  margin-left: 80px;
  display: flex;

}

.titulosForm{
  font-family: 'Indie Flower', cursive;
font-weight: bold;
font-size: large;
width: 15rem;


}

@media all and (max-width:756px){
  .form{
    width: 98%;
    margin-top: 20px;
  }

  .input{
    margin-left: 11px;
    width: 20rem;
   justify-content: center;
  }

  .divForm {
    justify-content: center;
    display:flex;

}
}